@use '../../../styles/breakpoints';

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}

.navLinks {
  display: flex;
  flex-direction: row;
  list-style: none;

  align-items: center;
}

.logo {
  width: 54px;
  height: 54px;

  img {
    width: 54px;
    height: 54px;
  }
}
