{
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": { "tabWidth": 4, "printWidth": 100 }
    },
    {
      "files": ["*.json", "*.yml"],
      "options": { "tabWidth": 2, "useTabs": true }
    },
    {
      "files": ["*.scssm", "*.scss", "*.css"],
      "options": { "semi": true, "cssDeclarationSorterOrder": "concentric-css" }
    }
  ]
}
