@use './colors' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: $color-darkest;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  width: 90%;
  max-width: 60rem;
  margin: 6rem auto 0 auto;
  color: $color-light-3;
}

.chartjsTooltip {
  opacity: 1;
  background: $color-dark-4-trans;
  white-space: pre;
  z-index: 5;

  img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}
