@use '../../../styles/breakpoints';
@use '../../../styles/colors.scss' as *;

.navigationHeader {
  position: fixed;
  align-items: center;
  display: flex;
  left: 0;
  top: 0;

  width: 100%;
  height: 5rem;

  background: $color-dark-3;
  // box-shadow: 0 2px #42424242;

  // @include breakpoints.md {
  //   justify-content: space-between;
  // }
  // z-index: 5;
}
